/* * {
border: 1px solid red;
} */

html,body {
    font-family: "Roboto", sans-serif;
}

h2,h3,h4,h5,h6 {
    font-family: "Oswald", sans-serif;
}

h1 {
    font-family: "Yellowtail", cursive;
    line-height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    color: #FF6A00;
}

.fa {
    margin-right: 5px;
}

.selfie {
    border-radius: 0% 30% 0% 30%;
    width: 100%;
    max-width: 220px;
    margin-top: 10px;
}
