body {
	background-color: black;
	color: white;
	font-family: Courier;

}

.comment {
	border-color: red;
	padding: 1px;
}

.comment:focus {
	border-color: green;
	background-color: gray;
	color: white;
}

.comment:hover {
	border-color: green;
	background-color: light gray;
}
